﻿
@{
    ViewBag.Title = "GratuitiesBook_Page";
    Layout = "~/Views/Shared/AdminDashboard_Layout.cshtml";
}


<div id="GratuitiesBookMainContainer" style="margin-top:-90px;" ng-controller="GratuitiesBookController" ng-init="initBook(@ViewBag.ServerParams)">

    <div class="page-header">
        دفتر الاكراميات
    </div>
    <div ng-form="basicForm">
        <div class="well">
            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        <label style="float:right">رقم الفاتورة  :</label>
                        <input type="number" style="margin-left:300px" class="form-control"
                               ng-model="GratBook.BillNumber" placeholder="إدخال رقم الفاتورة ..." required />
                    </div>
                    <div class="label label-danger" ng-show="!GratBook.BillNumber">
                        إدخـل رقـم الفـاتورة
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        <label style="float:right"> التاريخ :</label>
                        <input type="text" id="datePicker" style="margin-left:300px" class="form-control"
                               ng-model="GratBook.Date" placeholder="أختر التاريخ ..." required />
                    </div>
                    <div class="label label-danger" ng-show="!GratBook.Date">
                        إدخـل التاريخ
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        <label style="float:right"> المبلغ المدفوع : </label>
                        <input type="number" style="margin-left:300px" class="form-control"
                               ng-model="GratBook.Amount" placeholder="ادخل المبلغ ..." required />
                    </div>
                    <div class="label label-danger" ng-show="!GratBook.Amount">
                        إدخـل المبـلغ المـدفوع
                    </div>
                </div>
            </div>
        </div>
        <div class="well">
            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        <label>الـوصـف التفـصيلى</label>
                        <textarea rows="3" type="text" style="max-width:none" class="form-control" name="txtDescrption" placeholder="اكتب الـوصـف التفـصيلى ..."
                                  ng-init="" ng-model="GratBook.Description" required></textarea>
                    </div>
                    <div class="label label-danger" ng-show="!GratBook.Description">
                        ادخـل الوصـف التفصـيلى
                    </div>
                </div>
            </div>
        </div>
        <br />
        <div class="well">
            <div class="row">
                <div class="col-md-6">
                    <button type="button" style="margin:3px; width:250px;" class="btn btn-sm btn-primary"
                            ng-disabled="basicForm.$invalid" ng-click="saveData()">
                        <i>
                        </i> حفظ البيــانـات
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>

<div id="waiting">
    <div class="modal fade " id="pleaseWaitDialog" tabindex="-1" role="dialog" data-backdrop="static" data-keyboard="false" style="margin-top:35px;">
        <div class="modal-dialog modal-sm" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 id="wait-modal-progress-msg">Please wait...</h4>
                </div>
                <div class="modal-body">
                    <div class="row">
                        <div class="col-sm-12">
                            <div class="form-group">

                                <img src="~/Content/images/general/ajax-loader2.gif" class="col-sm-offset-4 col-sm-4" />

                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                </div>
            </div>
        </div>
    </div>

</div>

<div id="alertMSG">
    <!-- Alert message Modal -->
    <div class="modal fade" id="alertModal" tabindex="-1" role="dialog" data-backdrop="static" data-keyboard="false" aria-labelledby="myModalLabel" aria-hidden="true" style="display: none; margin-top:35px;">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    @*<button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>*@
                    <h4 class="modal-title text-info" id="alertTitle"></h4>
                </div>
                <div class="modal-body" id="messageText">

                </div>
                <div class="modal-footer">
                    <center>
                        <button type="button" class="btn btn-primary" id="alertModal_OkButton" data-dismiss="modal">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;OK&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</button>
                    </center>
                </div>
            </div>
            <!-- /.modal-content -->
        </div>
        <!-- /.modal-dialog -->
    </div>
</div>

<script src="~/AngularApp/Services/GratuitiesBookServices.js"></script>
<script src="~/AngularApp/Controller/GratuitiesBookController.js"></script>

