﻿@{
    ViewBag.Title = "إدارة صور الصفحة الرئيسية";
    Layout = "~/Views/Shared/AdminDashboard_Layout.cshtml";
}

<div id="HomePageImagesMainContainer" style="margin-top: -90px" ng-controller="">
    <div class="page-header">
        <h4>إدارة صور الصفحة الرئيسية</h4>
    </div>
    <div class="well">
        <div class="row">
            @using (Html.BeginForm("UploadNewImage", "HomePageImages", FormMethod.Post, new {enctype = "multipart/form-data"}))
            {
                <h4>إضافة صورة جديدة</h4>
                <label class="btn btn-default btn-file">
                    إختر الصورة<input type="file" name="uploadedImageFile" id="uploadedImageFile" accept=".png, .gif, .jpeg" style="display: none;"/>
                </label>
                <span id="selectedFileName">لم يتم إختيار ملف</span>
                <br /><br/>
                <button class="btn btn-primary" type="submit" disabled="disabled" id="btnUpload">رفع الصورة</button>
            }
        </div>
    </div>
    <hr />
    <div ng-form="basicForm">
        <div class="well">
            <div class="row">
                @using (Html.BeginForm("DeleteImage", "HomePageImages", FormMethod.Post, new {id = "deleteImageForm"}))
                {
                    foreach (var img in ViewBag.Images)
                    {
                        <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3">
                            <div class="thumbnail">
                                <img src="@Url.Content(img)" alt="image not found" style="height: 160px">
                                <div class="caption">
                                    <p><button type="button" class="btn btn-danger" name="imageFileName" value="@img" id="btnDelete">حذف الصورة</button></p>
                                </div>
                            </div>
                        </div>
                    }
                    <div class="modal fade" id="confirmationModal" role="dialog">
                        <div class="modal-dialog">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                                    <h4 class="modal-title">تأكيد الحذف</h4>
                                </div>
                                <div class="modal-body">
                                    <p>هل أنت متأكد من أنك تريد حذف الصورة نهائياً ؟</p>
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-danger" id="submitDeleteButton">نعم</button>
                                    <button type="button" class="btn btn-default" data-dismiss="modal">لا</button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <input type="hidden" name="imageToBeDeleted" id="imageToBeDeleted" value="" />
                }
            </div>
        </div>
    </div>
</div>
<script type="text/javascript">
    $(document).ready(function () {
        $("#btnDelete").on("click", function (e) {
            $("#imageToBeDeleted").attr("value", $(e.target).attr("value"));
            $("#confirmationModal").modal();
        });
        $("#submitDeleteButton").on("click", function () {
            $("#deleteImageForm").submit();
        });
        $('input[type="file"]').change(function(e) {
            $("#selectedFileName").text(e.target.files[0].name);
            $("#btnUpload").prop("disabled", false);
        });
    });
</script>