﻿@{
    ViewBag.Title = "إدارة شئون الدفاتر";
    Layout = "~/Views/Shared/AdminDashboard_Layout.cshtml";
}

<h3>الدفاتر الرئيسيه</h3>
<br />

<div class="row">
    <div class="col-md-1">

    </div>
    <div class="col-md-3" style="font-size:larger">
        <div> دفتر مصروفات تشغيليه</div>
    </div>
    <div class="col-md-1">

    </div>
    <div class="col-md-3" style="font-size:larger">
        <div>دفاتر عامه</div>
    </div>
    <div class="col-md-1">

    </div>
    <div class="col-md-3" style="font-size:larger">
        <div> دفتر الخزينه</div>
    </div>
</div>
<br /><br />
<div class="row">
    <div class="col-md-4">
        <img src="~/Content/images/general/book1.png" />
      
    </div>
    <div class="col-md-4">
        <img src="~/Content/images/general/book2.png" />
    </div>
    <div class="col-md-4">
        <img src="~/Content/images/general/book3.png" />
    </div>
</div>
