﻿

<div class="modal fade" id="modal-confirmation-plugin" tabindex="-1" role="dialog" aria-labelledby="modal-confirmation-plugin-lbl" data-backdrop="static" data-keyboard="false">
    <div class="modal-dialog " role="document">
        <div class="modal-content">
            <div class="modal-header">
                @* <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>*@
                <h4 class="modal-title" id="modal-confirmation-plugin-lbl"></h4>
            </div>
            <div class="modal-body">
                @*Are you sure you want to delete ( <span id="deletedQWorker" class="text-danger"></span>  ) Worker info ? (Delete/ No )
                    <br />Attention: All related data will be deleted.*@
                <p id="modal-confirmation-plugin-message"></p>
                <textarea id="modal-confirmation-plugin-comment-area" class="form-control" rows="5" style="display:none;max-width:none;"></textarea>
            </div>

            <div class="modal-footer">
                <button class="pull-right btn btn-primary" style="min-width:100px" id="modal-confirmation-plugin-btn-yes" data-dismiss="modal"></button>
                <button type="button" class="pull-left btn btn-default" style="min-width:100px" id="modal-confirmation-plugin-btn-no" data-dismiss="modal">No</button>

            </div>
        </div>
    </div>
</div>
