﻿
@{
    Layout = null;
}

<!DOCTYPE html>

<html>

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-16">
    <!-- Meta, title, CSS, favicons, etc. -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title> @ViewBag.Title</title>

    @*<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.6.1/jquery.min.js"></script>*@
    <link href="~/Content/css/font-awesome/font-awesome.min.css" rel="stylesheet" />
    <link href="~/Content/css/plugins/morris.css" rel="stylesheet" />
    <link href="~/Content/css/sb-admin-2.css" rel="stylesheet" />
    <link href="~/Content/css/plugins/timeline.css" rel="stylesheet" />
    <link href="~/Content/css/plugins/metisMenu/metisMenu.min.css" rel="stylesheet" />
    <link href="~/Content/css/bootstrap.min.css" rel="stylesheet" />

    <script src="//code.jquery.com/jquery-1.11.0.min.js"></script>

    <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
    <link rel="stylesheet" href="/resources/demos/style.css">
    <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>


    <script src="~/Content/js/bootstrap.min.js"></script>
    <script src="~/Content/js/sb-admin-2.js"></script>
    <script src="~/Content/js/metisMenu/metisMenu.min.js"></script>
    <script src="~/Content/js/raphael/raphael.min.js"></script>
    <script src="~/Content/js/morris/morris.min.js"></script>
    @RenderSection("Styles", false)
    @*<script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>*@

    <!-- #region Modal -->
    
    <script src="~/Scripts/plugins/jQueryUI/jquery-ui.min.js"></script>

    <!-- #endregion -->
    <script src="~/scripts/angular.js"></script>
    <script src="~/scripts/angular.min.js"></script>
    <script src="~/AngularApp/AngularApp.js"></script>
    <script src="~/AngularApp/Directives/Directives.js"></script>
</head>
<body ng-app="PropertyCompany">
    <div class="content">
        <div id="wrapper">
            <!-- Navigation -->
            <nav class="navbar navbar-default navbar-static-top" role="navigation" style="margin-bottom: 0">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="#">ادارة شئون الدفاتر</a>
                </div>
                <!-- /.navbar-header -->
                <ul class="nav navbar-top-links navbar-right">
                    <li class="dropdown">
                        <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                            <i class="fa fa-envelope fa-fw"></i> <i class="fa fa-caret-down"></i>
                        </a>
                        <ul class="dropdown-menu dropdown-messages">
                            <li>
                                <a href="#">
                                    <div>
                                        <strong>رساله 1</strong>
                                        <span class="pull-right text-muted">
                                            <em>Yesterday</em>
                                        </span>
                                    </div>
                                    <div></div>
                                </a>
                            </li>
                            <li class="divider"></li>
                            <li>
                                <a href="#">
                                    <div>
                                        <strong>رساله 2</strong>
                                        <span class="pull-right text-muted">
                                            <em>Yesterday</em>
                                        </span>
                                    </div>
                                    <div></div>
                                </a>
                            </li>
                            <li class="divider"></li>
                            <li>
                                <a href="#">
                                    <div>
                                        <strong>رساله 3</strong>
                                        <span class="pull-right text-muted">
                                            <em>Yesterday</em>
                                        </span>
                                    </div>
                                    <div></div>
                                </a>
                            </li>
                            <li class="divider"></li>
                            <li>
                                <a class="text-center" href="#">
                                    <strong>Read All Messages</strong>
                                    <i class="fa fa-angle-right"></i>
                                </a>
                            </li>
                        </ul>
                        <!-- /.dropdown-messages -->
                    </li>
                    <!-- /.dropdown -->
                    <li class="dropdown">
                        <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                            <i class="fa fa-tasks fa-fw"></i> <i class="fa fa-caret-down"></i>
                        </a>
                        <ul class="dropdown-menu dropdown-tasks">
                            <li>
                                <a href="#">
                                    <div>
                                        <p>
                                            <strong>Task 1</strong>
                                            <span class="pull-right text-muted">40% Complete</span>
                                        </p>
                                        <div class="progress progress-striped active">
                                            <div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="40" aria-valuemin="0" aria-valuemax="100" style="width: 40%">
                                                <span class="sr-only">40% Complete (success)</span>
                                            </div>
                                        </div>
                                    </div>
                                </a>
                            </li>
                            <li class="divider"></li>
                            <li>
                                <a href="#">
                                    <div>
                                        <p>
                                            <strong>Task 2</strong>
                                            <span class="pull-right text-muted">20% Complete</span>
                                        </p>
                                        <div class="progress progress-striped active">
                                            <div class="progress-bar progress-bar-info" role="progressbar" aria-valuenow="20" aria-valuemin="0" aria-valuemax="100" style="width: 20%">
                                                <span class="sr-only">20% Complete</span>
                                            </div>
                                        </div>
                                    </div>
                                </a>
                            </li>
                            <li class="divider"></li>
                            <li>
                                <a href="#">
                                    <div>
                                        <p>
                                            <strong>Task 3</strong>
                                            <span class="pull-right text-muted">60% Complete</span>
                                        </p>
                                        <div class="progress progress-striped active">
                                            <div class="progress-bar progress-bar-warning" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: 60%">
                                                <span class="sr-only">60% Complete (warning)</span>
                                            </div>
                                        </div>
                                    </div>
                                </a>
                            </li>
                            <li class="divider"></li>
                            <li>
                                <a href="#">
                                    <div>
                                        <p>
                                            <strong>Task 4</strong>
                                            <span class="pull-right text-muted">80% Complete</span>
                                        </p>
                                        <div class="progress progress-striped active">
                                            <div class="progress-bar progress-bar-danger" role="progressbar" aria-valuenow="80" aria-valuemin="0" aria-valuemax="100" style="width: 80%">
                                                <span class="sr-only">80% Complete (danger)</span>
                                            </div>
                                        </div>
                                    </div>
                                </a>
                            </li>
                            <li class="divider"></li>
                            <li>
                                <a class="text-center" href="#">
                                    <strong>See All Tasks</strong>
                                    <i class="fa fa-angle-right"></i>
                                </a>
                            </li>
                        </ul>
                        <!-- /.dropdown-tasks -->
                    </li>
                    <!-- /.dropdown -->
                    <li class="dropdown">
                        <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                            <i class="fa fa-bell fa-fw"></i> <i class="fa fa-caret-down"></i>
                        </a>
                        <ul class="dropdown-menu dropdown-alerts">
                            <li>
                                <a href="#">
                                    <div>
                                        <i class="fa fa-comment fa-fw"></i> New Comment
                                        <span class="pull-right text-muted small">4 minutes ago</span>
                                    </div>
                                </a>
                            </li>
                            <li class="divider"></li>
                            <li>
                                <a href="#">
                                    <div>
                                        <i class="fa fa-twitter fa-fw"></i> 3 New Followers
                                        <span class="pull-right text-muted small">12 minutes ago</span>
                                    </div>
                                </a>
                            </li>
                            <li class="divider"></li>
                            <li>
                                <a href="#">
                                    <div>
                                        <i class="fa fa-envelope fa-fw"></i> Message Sent
                                        <span class="pull-right text-muted small">4 minutes ago</span>
                                    </div>
                                </a>
                            </li>
                            <li class="divider"></li>
                            <li>
                                <a href="#">
                                    <div>
                                        <i class="fa fa-tasks fa-fw"></i> New Task
                                        <span class="pull-right text-muted small">4 minutes ago</span>
                                    </div>
                                </a>
                            </li>
                            <li class="divider"></li>
                            <li>
                                <a href="#">
                                    <div>
                                        <i class="fa fa-upload fa-fw"></i> Server Rebooted
                                        <span class="pull-right text-muted small">4 minutes ago</span>
                                    </div>
                                </a>
                            </li>
                            <li class="divider"></li>
                            <li>
                                <a class="text-center" href="#">
                                    <strong>See All Alerts</strong>
                                    <i class="fa fa-angle-right"></i>
                                </a>
                            </li>
                        </ul>
                        <!-- /.dropdown-alerts -->
                    </li>
                    <!-- /.dropdown -->
                    <li class="dropdown">
                        <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                            <i class="fa fa-user fa-fw"></i> <i class="fa fa-caret-down"></i>
                        </a>
                        <ul class="dropdown-menu dropdown-user">
                            <li>
                                <a href="#"><i class="fa fa-user fa-fw"></i> User Profile</a>
                            </li>
                            <li>
                                <a href="#"><i class="fa fa-gear fa-fw"></i> Settings</a>
                            </li>
                            <li class="divider"></li>
                            <li>
                                <a href="login.html"><i class="fa fa-sign-out fa-fw"></i> Logout</a>
                            </li>
                        </ul>
                    </li>
                </ul>
                <!-- /.navbar-top-links -->
                <div class="navbar-default sidebar" role="navigation">
                    <div class="sidebar-nav navbar-collapse">
                        <ul class="nav" id="side-menu">
                            <li class="sidebar-search">
                                <div class="input-group custom-search-form">
                                    <input type="text" class="form-control" placeholder="Search...">
                                    <span class="input-group-btn">
                                        <button class="btn btn-default" type="button">
                                            <i class="fa fa-search"></i>
                                        </button>
                                    </span>
                                </div>
                                <!-- /input-group -->
                            </li>
                            <li>
                                <a class="active" href="#"><i class="fa fa-dashboard fa-fw"></i>الصفحه الرئيسية</a>
                            </li>
                            <li>
                                <a href="#"><i class="fa fa-bar-chart-o fa-fw"></i> دفاتر مصروفات تشغيلية<span class="fa arrow"></span></a>
                                <ul class="nav nav-second-level">
                                    <li>
                                        <a href='@Url.Action( "OperatingExpensesBook", "OperatingExpensesBook")'>دفتر مصروفات نثرية</a>
                                    </li>
                                    <li>
                                        <a href='@Url.Action( "AddNewEmployee", "EmployeesBook")'>دفتر الموظفين</a>
                                    </li>
                                    <li>
                                        <a href='@Url.Action( "AddEmployeeSalary", "SalariesBook")'>دفتر مرتبات</a>
                                    </li>
                                    <li>
                                        <a href='@Url.Action( "CapitalExpendituresBookPage", "CapitalExpendituresBook")'>دفتر مصروفات راسمالية</a>
                                    </li>
                                    <li>
                                        <a href='@Url.Action( "GratuitiesBook_Page","GratuitiesBook")'>دفتر اكراميات</a>
                                    </li>
                                </ul>
                                <!-- /.nav-second-level -->
                            </li>
                            <li>
                                <a href="tables.html"><i class="fa fa-table fa-fw"></i> دفتر الخزينة<span class="fa arrow"></span></a>
                                <ul class="nav nav-second-level">
                                    <li>
                                        <a href="#">دفتر الإيجارات </a>
                                    </li>
                                    <li>
                                        <a href="#">دفتر الخزنه </a>
                                    </li>
                                </ul>
                            </li>
                            <li>
                                <a href="#"><i class="fa fa-edit fa-fw"></i>  دفاتر عامة<span class="fa arrow"></span></a>
                                <ul class="nav nav-second-level">
                                    <li>
                                        <a href='@Url.Action("ZakatBook_Page", "ZakatBook")'>دفتر الزكاة والصدقة </a>
                                    </li>
                                    <li>
                                        <a href="#">دفتر الدائنين والموردين </a>
                                    </li>
                                    <li>
                                        <a href='@Url.Action("PersonalWithdrawals_Page", "PersonalWithdrawalsBook")'>دفتر مسحوبات شخصية </a>
                                    </li>
                                    <li>
                                        <a href='@Url.Action("Index", "LandBooks")'>دفتر الاراضى </a>

                                    </li>
                                    <li>
                                        <a href='@Url.Action("CommissionsBookPage", "CommissionsBook")'>دفتر العمولات </a>
                                    </li>
                                    <li>
                                        <a href="#"> البرج<span class="fa arrow"></span></a>
                                        <ul class="nav nav-third-level">
                                            <li>
                                                <a href='@Url.Action("Index", "Tower")'>دفتر البرج </a>
                                            </li>
                                            <li>
                                                <a href='@Url.Action("AddTowerSand", "TowerSand")'>دفتر الرملة </a>
                                            </li>
                                            <li>
                                                <a href='@Url.Action("AddTowerGravel", "TowerGravel")'>دفتر الزلط </a>
                                            </li>
                                            <li>
                                                <a href='@Url.Action("AddCementDetails", "TowerCement")'>دفتر الاسمنت </a>
                                            </li>
                                            <li>
                                                <a href='@Url.Action("AddTowerIron", "TowerIron")'>دفتر الحديد </a>
                                            </li>
                                            <li>
                                                <a href='@Url.Action("AddTowerFoundries", "TowerFoundries")'>دفتر السباكة </a>
                                            </li>
                                            <li>
                                                <a href='@Url.Action("AddTowerElectricity", "TowerElectricity")'>دفتر الكهرباء </a>
                                            </li>
                                            <li>
                                                <a href='@Url.Action("AddTowerWorkerFees", "TowerWorkerFees")'>دفتر اجور العمال </a>
                                            </li>
                                           
                                        </ul>
                                        <!-- /.nav-third-level -->
                                    </li>

                                </ul>
                            </li>
                            <li>
                                <a href='@Url.Action("Index", "Contractor")'><i class="fa fa-table fa-fw"></i> دفتر المقاول</a>

                            </li>

                            <li>
                                <a href="#"><i class="fa fa-table fa-fw"></i> دفتر مصروفات نثرية</a>

                            </li>
                            <li>
                                <a href="#"><i class="fa fa-table fa-fw"></i> دفتر اجور عمال</a>
                            </li>
                            <li>
                                <a href="#"><i class="fa fa-table fa-fw"></i> دفتر بيع الشقق</a>
                            </li>
                            <li>
                                <a href="#"><i class="fa fa-edit fa-fw"></i>إدارة الموقع<span class="fa arrow"></span></a>
                                <ul class="nav nav-second-level">
                                    <li>
                                        <a href='@Url.Action("HomePageImages", "HomePageImages")'><i class="fa fa-table fa-fw"></i>صور الصفحة الرئيسية</a>
                                    </li>
                                </ul>
                            </li>
                        </ul>
                    </div>

                </div>

            </nav>
            <div class="page-header">
                
            </div>
            <div id="page-wrapper">

                @RenderBody()
                <!--Footer-->
                @*<div class="input-group">
                        <input id="btn-input" type="text" class="form-control input-sm" placeholder="Type your message here..." />
                        <span class="input-group-btn">
                            <button class="btn btn-warning btn-sm" id="btn-chat">
                                Send
                            </button>
                        </span>
                    </div>*@
                @RenderSection("Scripts", false)
            </div>
        </div>
    </div>

    @Html.Partial("_WaitingModal");
    @Html.Partial("_AlertModalMessage");
    @Html.Partial("_ConfirmationModal");
</body>

</html>


