﻿@*@model PropertyCompany.Models.LandBook*@

@{
    ViewBag.Title = "إضــافــة عمليـة شـراء جديـدة ";
    Layout = "~/Views/Shared/AdminDashboard_Layout.cshtml";
}
<script src="~/AngularApp/Controller/LandsBookController.js"></script>
    <center>
        @using (Html.BeginForm())
        {
            @*@Html.AntiForgeryToken()*@

            <div class="form-horizontal" style="width:80%;" ng-controller="landsBookController" ng-init="initLands(@ViewBag.LandBooks)">
                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                <div class="form-group">
                    <span class="control-label col-md-2">رقم الفاتورة:</span>
                    <div class="col-md-4">
                        <input type="text" name="BillID" id="BillID" class="form-control col-lg-3" placeholder="رقم الفاتورة..." ng-model="BillID" number-Only ng-change="checkBillID()"/>
                    </div>
                    <div class="col-md-6" style="color:red;" ng-show="InvalidBillID">رقم الفاتورة موجود من قبل</div>
                </div>
                <div class="form-group">
                    <span class="control-label col-md-2">تاريخ التسجيل:</span>
                    <div class="col-md-6">
                        <input type="text" name="Date" id="Date" class="form-control" placeholder="...إختر التاريخ" required />
                    </div>
                    <div class="col-md-6"></div>
                </div>
                <div class="form-group">
                    <span class="control-label col-md-2"> إسم البائع \ المشتري :</span>
                    <div class="col-md-6">
                        <input type="text" name="SellerName" id="SellerName" class="form-control" placeholder="إسم البائع \ المشتري..."/>
                    </div>
                    <div class="col-md-6"></div>
                </div>
                
                <div class="form-group">
                    <span class="control-label col-md-2">الحالة  :</span>
                    <div class="col-md-6">
                        <input type="text" name="Status" id="Status" class="form-control" placeholder="الحالة..." />
                    </div>
                    <div class="col-md-6"></div>
                </div>

                <div class="form-group">
                    <span class="control-label col-md-2">السعر الإجمالي:</span>
                    <div class="col-md-6">
                        <input type="text" name="TotalPrice" id="TotalPrice" class="form-control" number-Only placeholder="السعر الإجمالي..."/>
                    </div>
                    <div class="col-md-6"></div>
                </div>

                <div class="form-group">
                    <span class="control-label col-md-2">المدفوع:</span>
                    <div class="col-md-6">
                        <input type="number" id="PaidPrice" name="PaidPrice" class="form-control" number-Only placeholder="المبلغ المدفوع..." />
                    </div>
                    <div class="col-md-6"></div>
                </div>

                <div class="form-group">
                    <span class="control-label col-md-2">الباقي:</span>
                    <div class="col-md-6">
                        <input type="number" id="ReminderPrice" name="ReminderPrice" class="form-control" number-Only placeholder="الباقي..." />
                    </div>
                    <div class="col-md-6"></div>
                </div>
                <div class="form-group">
                    <span class="control-label col-md-2">تفاصيل :</span>
                    <div class="col-md-6">
                        <textarea id="Description" name="Description" placeholder="أكتب التفاصيل هنا..." class="form-control"></textarea>
                    </div>
                    <div class="col-md-6"></div>
                </div>
              
                <div class="form-group">
                    <div class="col-md-2"></div>
                    <div class="col-md-offset-2 col-md-10">
                        <input type="submit" value="إضافة العملية" class="btn btn-primary" style="float:right;" />

                    </div>
                </div>

            </div>
        }

        <div style="float:left;">
            @Html.ActionLink("العودة لقائمة الأراضي", "Index")
        </div>
    </center>
@section Scripts
{
    <script type="text/javascript">
        $(document).ready(function () {
            $("#Date").datepicker();
        });

    </script>
}