﻿@model IEnumerable<PropertyCompanyProject.Models.LandBook>

@{
   
    ViewBag.Title = "دفتــر الأراضـــي";
    Layout = "~/Views/Shared/AdminDashboard_Layout.cshtml";
    //Layout = null;
}
@*@section Styles{
   
    <script src="~/AngularApp/Controller/LandBooks.js"></script>
    <script>
        var ladbooks=@ViewBag.landbooks;

    </script>
}*@
<h3 class="page-header">
    إدارة دفتــر الأراضـــي
</h3>
    <div ng-app="PropertyCompany" ng-controller="landBooks" ng-init="">
        
        <p>
            @Html.ActionLink("إضافة جديد", "Create")
        </p>

        <table class="table">
            <tr>
                <th>
                    رقم الفاتورة
                </th>
                <th>
                    تاريخ التسجيل
                </th>
                <th>
                    إجمالي السعر
                </th>
                <th>
                    المدفوع
                </th>
                <th>
                    الباقي
                </th>
                <th>
                    إسم البائع
                </th>
                <th>
                    الحالة
                </th>
                <th>
                    تفاصيل
                </th>

                <th></th>
            </tr>

            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.BillID)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Date)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.LandBuyer.TotalPrice)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.PaidPrice)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.ReminderPrice)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.LandBuyer.SellerName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.LandBuyer.Status)
                    </td>
                   <td>
                        @Html.DisplayFor(modelItem => item.LandBuyer.Description)
                   </td>

                    <td>
                        @*@Html.ActionLink("تعديل", "Edit", new { id = item.ID }) |*@
                        @Html.ActionLink("حذف", "Delete", new { id = item.ID })
                    </td>
                </tr>
            }

        </table>
    </div>

