﻿@{
    ViewBag.Title = "إضـافة بيـانـات دفـتر العمولات";
    Layout = "~/Views/Shared/AdminDashboard_Layout.cshtml";
}

    @*<style type="text/css">
        .modal {
            position: fixed;
            top: 0;
            left: 0;
            background-color: black;
            z-index: 99;
            opacity: 0.8;
            filter: alpha(opacity=80);
            -moz-opacity: 0.8;
            min-height: 100%;
            width: 100%;
        }
        .loading {
            font-family: Arial;
            font-size: 10pt;
            border: 5px solid #67CFF5;
            width: 200px;
            height: 100px;
            display: none;
            position: fixed;
            background-color: White;
            z-index: 999;
        }
    </style>*@

<div>
    <div class="form-horizontal" style="width: 80%;" ng-controller="CommissionsController" ng-init="initCommissionsController(@ViewBag.Commission)">
        دفتر العمولات
        <div ng-form="basicForm">
            <div class="well">
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label style="float:right">رقم الفاتورة  :</label>
                            <input type="number" id="billNumber" name="billNumber" style="margin-left:300px" class="form-control"
                                   ng-model="Commission.BillNumber" placeholder="إدخال رقم الفاتورة ..." required />
                        </div>
                        <div class="label label-danger" ng-show="!basicForm.billNumber.$pristine && basicForm.billNumber.$invalid">
                            إدخـل رقـم الفـاتورة
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label style="float: right"> التاريخ :</label>
                            <input type="text" id="commissionDate" name="commissionDate" style="margin-left: 300px" class="form-control"
                                   ng-model="Commission.Date" placeholder="أختر التاريخ ..." required />
                        </div>
                        <div class="label label-danger" ng-show="!basicForm.commissionDate.$pristine && basicForm.commissionDate.$invalid">
                            إدخـل التاريخ
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label style="float: right">اسم الموظف :</label>
                            <input type="text" id="employeeName" name="employeeName" style="margin-left: 300px" class="form-control"
                                   ng-model="Commission.Name" placeholder="ادخل اسم الموظف ..." required />
                        </div>
                        <div class="label label-danger" ng-show="!basicForm.employeeName.$pristine && basicForm.employeeName.$invalid">
                            إدخـل اسم الموظف
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label style="float: right">القيمة : </label>
                            <input type="number" id="commissionAmount" name="commissionAmount" style="margin-left: 300px" class="form-control"
                                   ng-model="Commission.Amount" placeholder="ادخل القيمة ..." required />
                        </div>
                        <div class="label label-danger" ng-show="!basicForm.commissionAmount.$pristine && basicForm.commissionAmount.$invalid">
                            إدخـل القيمة
                        </div>
                    </div>
                </div>
            </div>
            <div class="well">
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label>الـوصـف التفـصيلى</label>
                            <textarea rows="3" type="text" id="commissionDescription" name="commissionDescription" style="max-width:none" class="form-control" placeholder="اكتب الـوصـف التفـصيلى ..."
                                      ng-model="Commission.Description" required></textarea>
                        </div>
                        <div class="label label-danger" ng-show="!basicForm.commissionDescription.$pristine && basicForm.commissionDescription.$invalid">
                            ادخـل الوصـف التفصـيلى
                        </div>
                    </div>
                </div>
            </div>
            <br />
            <div class="well">
                <div class="row">
                    <div class="col-md-6">
                        <button type="button" style="margin:3px; width:250px;" class="btn btn-sm btn-primary"
                                ng-disabled="basicForm.$invalid" ng-click="saveData()">
                            <i></i> حفظ البيــانـات
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div id="waiting">
    <div class="modal fade " id="pleaseWaitDialog" tabindex="-1" role="dialog" data-backdrop="static" data-keyboard="false" style="margin-top:35px;">
        <div class="modal-dialog modal-sm" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    @*<h1>Please wait...</h1>*@
                    <h4 id="wait-modal-progress-msg">Please wait...</h4>

                </div>
                <div class="modal-body">
                    <!-- Modal body -->
                    @*<div class="progress progress-striped active">
                            <div class="bar" style="width: 100%;"></div>
                        </div>*@
                    <div class="row">
                        <div class="col-sm-12">
                            <div class="form-group">

                                <img src="~/Content/images/general/ajax-loader2.gif" class="col-sm-offset-4 col-sm-4" />
                                @*<div class="col-sm-8"><h2>Please wait...</h2></div>*@
                                @*<div class="col-md-1"></div>*@
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    @* <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>*@
                </div>
            </div>
        </div>
    </div>

</div>

<div id="alertMSG">
    <!-- Alert message Modal -->
    <div class="modal fade" id="alertModal" tabindex="-1" role="dialog" data-backdrop="static" data-keyboard="false" aria-labelledby="myModalLabel" aria-hidden="true" style="display: none; margin-top:35px;">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    @*<button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>*@
                    <h4 class="modal-title text-info" id="alertTitle"></h4>
                </div>
                <div class="modal-body" id="messageText">

                </div>
                <div class="modal-footer">
                    <center>
                        <button type="button" class="btn btn-primary" id="alertModal_OkButton" data-dismiss="modal">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;OK&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</button>
                    </center>
                </div>
            </div>
            <!-- /.modal-content -->
        </div>
        <!-- /.modal-dialog -->
    </div>
</div>

<script src="~/AngularApp/Services/commissionServices.js"></script>
<script src="~/AngularApp/Controller/CommissionsBookController.js"></script>