﻿
@{
    ViewBag.Title = "AddTowerFoundries";
    Layout = "~/Views/Shared/AdminDashboard_Layout.cshtml";
}

<div id="dvMainContainer" style="margin-top:-90px;" ng-controller="TowerFoundriesController" ng-init="initBook(@ViewBag.ServerParams)">

    <div class="page-header">
        دفتر السباكة
    </div>
    <div ng-form="basicForm">
        <div class="well">

            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        <label style="float:right"> التاريخ :</label>
                        <input type="text" id="datePicker" style="margin-left:300px" class="form-control"
                               ng-model="JTowerFoundries.Date" placeholder="أختر التاريخ ..." required />
                    </div>
                    <div class="label label-danger" ng-show="!JTowerFoundries.Date">
                        إدخـل التاريخ
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-md-4">
                    <div class="form-group">
                        <label>اسـم البرج</label>
                        <div>
                            <select name="drpStateCities" style="max-width:none ; width:378px" ng-init=""
                                    ng-model="JTowerFoundries.TowerID" ng-options="tower.ID as tower.Name for tower in Towers " class="form-control">
                                <option value="">إخـتر الـبرج</option>
                            </select>
                            <span ng-show="!JTowerFoundries.TowerID">
                                <label class="label label-danger">
                                    إخـتر الـبرج
                                </label>
                            </span>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-md-4">
                    <div class="form-group">
                        <label>اسـم المـقاول</label>
                        <div>
                            <select name="drpStateCities" style="max-width:none ; width:378px" ng-init=""
                                    ng-model="JTowerFoundries.ContractorID" ng-options="contract.ID as contract.Name for contract in Contractors " class="form-control">
                                <option value="">إخـتر المـقاول</option>
                            </select>
                            <span ng-show="!JTowerFoundries.ContractorID">
                                <label class="label label-danger">
                                    إخـتر المـقاول
                                </label>
                            </span>
                        </div>
                    </div>
                </div>
            </div>


            <div class="row">
                <div class="col-md-4">
                    <div class="form-group">
                        <label style="float:right">اسم الصنف  :</label>
                        <input type="text" style="margin-left:300px" min="1" class="form-control"
                               ng-model="JTowerFoundries.KindName" required />
                        
                        <span ng-show="!JTowerFoundries.KindName">
                            <label class="label label-danger">
                                إدخـل اسم الصنف 
                            </label>
                        </span>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-4">
                    <div class="form-group">
                        <label>التكلفة الكلية :</label>
                        <input min="1" class="form-control" type="number" name="txtCommission" placeholder="إدخـل التكلفة الكلية ..." required
                               ng-model="JTowerFoundries.TotalCost" />
                        <span ng-show="!JTowerFoundries.TotalCost" class="label label-danger">
                            إدخـل التكلفة الكلية
                        </span>
                    </div>
                </div>
            </div>
        </div>
        <br />
        <div class="well">
            <div class="row">
                <div class="col-md-6">
                    <button type="button" style="margin:3px; width:250px;" class="btn btn-sm btn-primary"
                            ng-disabled="basicForm.$invalid" ng-click="saveData()">
                        <i>
                        </i> حفظ البيــانـات
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>

<div id="waiting">
    <div class="modal fade " id="pleaseWaitDialog" tabindex="-1" role="dialog" data-backdrop="static" data-keyboard="false" style="margin-top:35px;">
        <div class="modal-dialog modal-sm" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    @*<h1>Please wait...</h1>*@
                    <h4 id="wait-modal-progress-msg">Please wait...</h4>

                </div>
                <div class="modal-body">
                    <!-- Modal body -->
                    @*<div class="progress progress-striped active">
                            <div class="bar" style="width: 100%;"></div>
                        </div>*@
                    <div class="row">
                        <div class="col-sm-12">
                            <div class="form-group">

                                <img src="~/Content/images/general/ajax-loader2.gif" class="col-sm-offset-4 col-sm-4" />
                                @*<div class="col-sm-8"><h2>Please wait...</h2></div>*@
                                @*<div class="col-md-1"></div>*@
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    @* <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>*@
                </div>
            </div>
        </div>
    </div>

</div>

<div id="alertMSG">
    <!-- Alert message Modal -->
    <div class="modal fade" id="alertModal" tabindex="-1" role="dialog" data-backdrop="static" data-keyboard="false" aria-labelledby="myModalLabel" aria-hidden="true" style="display: none; margin-top:35px;">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    @*<button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>*@
                    <h4 class="modal-title text-info" id="alertTitle"></h4>
                </div>
                <div class="modal-body" id="messageText">

                </div>
                <div class="modal-footer">
                    <center>
                        <button type="button" class="btn btn-primary" id="alertModal_OkButton" data-dismiss="modal">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;OK&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</button>
                    </center>
                </div>
            </div>
            <!-- /.modal-content -->
        </div>
        <!-- /.modal-dialog -->
    </div>
</div>

<script src="~/AngularApp/Services/TowerFoundriesServices.js"></script>
<script src="~/AngularApp/Controller/TowerFoundriesController.js"></script>
