﻿
@{
    ViewBag.Title = "AddEmployeeSalary";
    Layout = "~/Views/Shared/AdminDashboard_Layout.cshtml";
}


<div id="SalaryMainContainer" style="margin-top:-90px;" ng-controller="SalariesBookController" ng-init="initBook(@ViewBag.ServerParams)">

    <div class="page-header">
        دفتر المرتبات
    </div>
    <div ng-form="basicForm">
        <div class="well">
            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        <label style="float:right"> التاريخ :</label>
                        <input type="text" id="datePickersalary" style="margin-left:300px" class="form-control"
                               ng-model="SalariesB.Date" placeholder="أختر التاريخ ..." required />
                    </div>
                    <div class="label label-danger" ng-show="!SalariesB.Date">
                        إدخـل التاريخ
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        <label style="float:right">اسم الموظف :</label>
                        @*<input type="text" style="margin-left:300px" class="form-control"
                               ng-model="SalariesB.EmpName" placeholder="اختر اسم الموظف ..." required />*@
                        <br /><br />
                        <select name="drpEmployees" style="max-width:none ; width:378px" ng-init=""
                                ng-model="SalariesB.ID" ng-options="emp.ID as em.Name for emp in Employees " class="form-control">
                            <option value="">إخـتر الموظف</option>
                        </select>
                    </div>
                    <div class="label label-danger" ng-show="!SalariesB.EmpName">
                        اختر اسم الموظف
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        <label style="float:right"> الخصم : </label>
                        <input type="number" style="margin-left:300px" class="form-control"
                               ng-model="SalariesB.Discount" placeholder="ادخل المبلغ ..." required />
                    </div>
                    <div class="label label-danger" ng-show="!SalariesB.Discount">
                        إدخـل الخصم 
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        <label style="float:right"> المكآفات : </label>
                        <input type="number" style="margin-left:300px" class="form-control"
                               ng-model="SalariesB.Reward" placeholder="ادخل المكافاه ..." required />
                    </div>
                    <div class="label label-danger" ng-show="!SalariesB.Reward">
                        إدخـل المكافاه
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        <label style="float:right"> المرتب : </label>
                        <input type="number" style="margin-left:300px" class="form-control"
                               ng-model="SalariesB.Amount" placeholder="ادخل المرتب ..." required />
                    </div>
                    <div class="label label-danger" ng-show="!SalariesB.Amount">
                        إدخـل المرتب
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        <label style="float:right"> مرتب شهر : </label>
                        <input type="number" style="margin-left:300px" class="form-control"
                               ng-model="SalariesB.MonthSalary" placeholder="ادخل الشهر ..." required />
                    </div>
                    <div class="label label-danger" ng-show="!SalariesB.MonthSalary">
                        إدخـل الشهر
                    </div>
                </div>
            </div>
        </div>

        <br />
        <div class="well">
            <div class="row">
                <div class="col-md-6">
                    <button type="button" style="margin:3px; width:250px;" class="btn btn-sm btn-primary"
                            ng-disabled="basicForm.$invalid" ng-click="saveData()">
                        <i>
                        </i> حفظ البيــانـات
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>

<div id="waiting">
    <div class="modal fade " id="pleaseWaitDialog" tabindex="-1" role="dialog" data-backdrop="static" data-keyboard="false" style="margin-top:35px;">
        <div class="modal-dialog modal-sm" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 id="wait-modal-progress-msg">Please wait...</h4>

                </div>
                <div class="modal-body">
                    <div class="row">
                        <div class="col-sm-12">
                            <div class="form-group">
                                <img src="~/Content/images/general/ajax-loader2.gif" class="col-sm-offset-4 col-sm-4" />
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                </div>
            </div>
        </div>
    </div>

</div>

<div id="alertMSG">
    <!-- Alert message Modal -->
    <div class="modal fade" id="alertModal" tabindex="-1" role="dialog" data-backdrop="static" data-keyboard="false" aria-labelledby="myModalLabel" aria-hidden="true" style="display: none; margin-top:35px;">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title text-info" id="alertTitle"></h4>
                </div>
                <div class="modal-body" id="messageText">

                </div>
                <div class="modal-footer">
                    <center>
                        <button type="button" class="btn btn-primary" id="alertModal_OkButton" data-dismiss="modal">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;OK&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</button>
                    </center>
                </div>
            </div>
        </div>
    </div>
</div>


<script src="~/AngularApp/Controller/SalariesController.js"></script>
<script src="~/AngularApp/Services/SalariesServices.js"></script>


